.navbar {
  z-index: 3;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #007bff !important;
}

.navbar-brand,
.nav-link {
  color: #bfdeff !important;
}

.navbar-brand:hover,
.nav-link:hover {
  color: white !important;
}

.active {
  font-weight: 600 !important;
  color: white !important;
}

.dropdown-header {
  color: #007bff !important;
}

#toggle-switch {
  display: flex;
  justify-content: flex-end;
}

.form-check {
  z-index: 2;
  font-size: 25px;
}
vinamrasharma9: 02 PM * {
  font-family: "Poppins";
}

.body-dark {
  background-color: #212529;
  color: white;
}

header .container-fluid {
  padding: 0 !important;
}
